@model BookStoreModels.ViewModels.InventoryVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Inventory";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Inventory.InventoryId != 0)
        {
            //edit
            title = "Edit Inventory";
           <input type="hidden" asp-for="Inventory.InventoryId" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    Book
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Inventory.BookId, Model.BookList, "-Select a Book",
                   new { @class = "form-control" })
                    <span asp-validation-for="Inventory.BookId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Inventory.Count"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Inventory.Count" class="form-control" />
                    <span asp-validation-for="Inventory.Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Inventory.InventoryId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Inventory.InventoryId" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<!--client side validations-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

