<!--No layout because this is a partial view-->
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Create</button>
        <!--button type='submit' for upsert.cshtml view form method = post -->
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
        <!--no controller given because ASP.NET automatically takes us back to the controller
            from which this was called. Here, it is CategoryController-->
    </div>

</div>