@model BookStoreModels.Book

@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Price Comparison</title>
</head>

<body>
    <!--https://www.geeksforgeeks.org/how-to-insert-a-javascript-variable-inside-href-attribute/-->
    

    <div class="row pl-2">
        <h5 class="text-muted">ISBN : @Model.ISBN</h5>
    </div>
    <div class="row pl-2">
        <h5 class="text-primary">Our Price: @Model.Price</h5>
    </div>
    <div class="row pl-2">
        <h5 class="text-primary">Amazon's Price: @Model.AmazonPrice</h5>
        <p>
            <script>
            var urlPortion = "&s=relevanceexprank&Adv-Srch-Books-Submit.x=11&Adv-Srch-Books-Submit.y=13&unfiltered=1&ref=sr_adv_b";
            var loc = "https://www.amazon.com/s?i=stripbooks&rh=p_66%3A" +@Model.ISBN +urlPortion;
            document.write('<a href="' + loc + '">Click here to buy from Amazon!</a>');
            </script>
        </p>
        
    </div>
</body>


