@model BookStoreModels.Book

@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--https://www.geeksforgeeks.org/how-to-insert-a-javascript-variable-inside-href-attribute/-->
<h1>Compare Prices</h1>
<script>
    var urlPortion = "&s=relevanceexprank&Adv-Srch-Books-Submit.x=11&Adv-Srch-Books-Submit.y=13&unfiltered=1&ref=sr_adv_b";
</script>

<div class="row pl-2">
    <h5 class="text-muted">ISBN : @Model.ISBN</h5>    
</div>
<div class="row pl-2">
    <h5 class="text-primary">Our Price: @Model.Price</h5>
</div>
<div class="row pl-2">
    <h5 class="text-primary">Amazon's Price: @Model.Price</h5>
</div>

